{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
			
	<div class="section">
		<!-- Products Start -->

		<div class="container-fluid pt-5">
			<div class="text-center mb-4">
				<h2 class="section-title px-5"><span class="px-2"><u>Mobiles</u></span></h2>
			</div>
			<div class="row px-xl-5 pb-3">
				{% for i in mobs %}
				<div class="col-lg-3 col-md-6 col-sm-12 pb-1">
					<a href="{% url 'productview' i.category.category i.id %}">
						<div class="card product-item border-0 mb-4">
					   		<div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
					        		<img class="img-fluid w-100" src="{{ i.img.url }}" alt="">
					    		</div>
					    		<div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
					        		<h6 class="category">{{ i.category }}</h6>
					        		<h6 class="product-name">{{ i.product }}</h6>
					        		<div class="d-flex justify-content-center">
									<h4 class="offer-price">Rs: {{ i.offer_price|intcomma }}.00 <del class="original-price"> Rs: {{ i.original_price|intcomma }}.00</del></h4>
								</div>
							</div>
						</div>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
		<!-- Products End -->

	</div>									
	<br><br><br>

{% endblock content %}
