{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
		
		<!-- Products tab & slick -->
				<section>
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
										<!-- product -->
										{% for lap in laps %}
										<div class="product">
											<a href="{% url 'productview' lap.category.category lap.id %}">
											<div class="product-img">
												<img src="{{ lap.img.url }}" width="450" height="280" alt="">
												<div class="product-label">
													<span class="sale">-30%</span>
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">{{ lap.category }}</p>
												<h3 class="product-name"><a href="{% url 'productview' lap.category.category lap.id %}">{{ lap.product }}</a></h3>
												<h4 class="product-price">Rs: {{ lap.offer_price|intcomma }}.00<del class="product-old-price"> Rs: {{ lap.original_price|intcomma }}.00</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
											</div>
											</a>
										</div>
										{% endfor %}
										<!-- /product -->
									</div>
									<div id="slick-nav-1" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
				</section>
				<br><br><br><br><br><br><br><br><br><br><br><br>
					<!-- Products tab & slick -->
		<!-- /SECTION -->
		<br><br><br>
{% endblock content %}