{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

		<!-- Products tab & slick -->
				<section>
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
										<!-- product -->
										{% for mob in mobs %}
										<div class="product">
											<a href="{% url 'productview' mob.category.category mob.id %}">
											<div class="product-img">
												<img src="{{ mob.img.url }}" width="450" height="280" alt="">
												<div class="product-label">
													<span class="sale">-30%</span>
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">{{ mob.category }}</p>
												<h3 class="product-name"><a href="{% url 'productview' mob.category.category mob.id %}">{{ mob.product }}</a></h3>
												<h4 class="product-price">Rs: {{ mob.offer_price|intcomma }}.00  <del class="product-old-price"> Rs: {{ mob.original_price|intcomma }}.00</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><a href="{% url 'productview' mob.category.category mob.id %}"><i class="fa fa-exchange"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											</a>
										</div>
										{% endfor %}
										<!-- /product -->
									</div>
									<div id="slick-nav-1" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
				</section>
				<br><br><br>
		<!-- /SECTION -->
		<br><br><br>
{% endblock content %}