{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block content %}
		<!-- SECTION -->
		<div class="section product_data">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row product_data">
					<!-- Product main img -->
					<div class="col-md-5 col-md-push-2">
						<div id="product-main-img">
							<div class="product-preview">
								<img src="{{ prod.img.url }}" alt="">
							</div>

							<!-- <div class="product-preview">
								<img src="{% static './img/product08.png' %}" alt="">
							</div> -->
						</div>
					</div>
					<!-- /Product main img -->

					<!-- Product thumb imgs -->
					<div class="col-md-2  col-md-pull-5">
						<!-- <div id="product-imgs">
							<div class="product-preview">
								<img src="{% static './img/product08.png' %} alt="">
							</div>
						</div> -->
					</div>
					<!-- /Product thumb imgs -->

					<!-- Product details -->
					
					<div class="col-md-5 product_data">
						<div class="product-details">
							<h1 class="product-name">{{ prod.product }}</h1>
							<div>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<a class="review-link" href="#">10 Review(s) | Add your review</a>
							</div>
							<div>
								<h3 class="product-price">Rs: {{ prod.offer_price|intcomma }}.00 <del class="product-old-price">Rs: {{ prod.original_price|intcomma }}.00</del></h3>
								{% if prod.quantity > 0 %}
									<span class="badge alert-success">In Stock</span>
								{% else %}
									<span class="badge alert-danger">Out Of Stock</span>
								{% endif %}
							</div>
							<p>{{ prod.description }}</p>

							{% if prod.quantity > 0 %}
							<br><br><br>
								<div class="add-to-cart quantity">
									{% csrf_token %}
									<input type="hidden" value="{{ prod.id }}" class="pros_id">
									<div class="qty-label quantity">
										Qty
										<div class="input-number quantity">
											<span class="qty-up increment-btn">+</span>
											<input type="number"  min="1" name = "quantity" class="form-control qty-input text-center" value="1">
											<span class="qty-down decrement-btn">-</span>
										</div>
									</div>
									<button class="add-to-cart-btn addToCartBtn"><i class="fa fa-shopping-cart"></i> add to cart</button>
								</div>

									<br><br>
									{% csrf_token %}
									<input type="hidden" value="{{ prod.id }}" class="pros_id">
									<button class="liked addToWishList"><i class="fa fa-heart"></i> Add To Wishlist</button>

									<br><br>
									<div class="quantity">
										<form action="{% url 'buynow' prod.category.category prod.id %}?product_price={{prod.offer_price}}" method="post">
			  								{% csrf_token %}
			  								{{ form.as_p }}
			  								<input type="hidden" value="{{ prod.id }}" class="pros_id">
			  								<button type="submit" class="buy">Buy Now</button>
										</form>
								</div>
							{% else %}
								<img src="{% static 'img/out.png' %}" width="40%">
							{% endif %}
							

							<ul class="product-links">
								<li>Category:</li>
								<li><a href="{% url 'laptop' %}">Laptops</a></li>
								<li><a href="{% url 'mobile' %}">Mobile</a></li>
								<br>
								<li><a href="{% url 'cameras' %}">Camera</a></li>
								<li><a href="{% url 'gadgets' %}">Gadgets</a></li>
							</ul>

							<ul class="product-links">
								<li>Share:</li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#"><i class="fa fa-envelope"></i></a></li>
							</ul>

						</div>
					</div>
					<!-- /Product details -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- Section -->

		<div class="col-md-12">
			<div class="section-title text-center">
				<h3 class="title">Related Products</h3>
			</div>
		</div>

		<div class="clearfix visible-sm visible-xs"></div>

		<!-- Products Start -->

		<div class="container-fluid pt-5">
			<div class="row px-xl-5 pb-3">
				{% for i in pros %}
				<div class="col-lg-3 col-md-6 col-sm-12 pb-1">
					<a href="{% url 'productview' i.category.category i.id %}">
					<div class="card product-item border-0 mb-4">
						<div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
							<img class="img-fluid w-100" src="{{ i.img.url }}" alt="">
						</div>
						<div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
							<h6 class="category">{{ i.category }}</h6>
							<h6 class="product-name">{{ i.product }}</h6>
							<div class="d-flex justify-content-center">
								<h4 class="offer-price">Rs: {{ i.offer_price|intcomma }}.00 <del class="original-price"> Rs: {{ i.original_price|intcomma }}.00</del></h4>
							</div>
						</div>
					</div>
				</a>
				</div>
				{% endfor %}
			</div>
		</div>
		<!-- Products End -->

{% endblock content %}
