{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Orders Table</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<script src="{% static 'js/script.js' %}"></script>
  
  <body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                      <h2 style="color: #fff ;">Manage <b>Orders</b></h2>
                    </div>
                     <div class="col-sm-6"> 
                      <a href="{% url 'home' %}" class="btn btn-danger" data-toggle="modal">
                        <span>Home</span>
                      </a>     
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Tracking Number</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                {% for i in order %}
                    <tr>
                        <td>{{ i.id }}</td>
                        <td>{{ i.user }}</td>
                        <td>{{ i.product }}</td>
                        <td>{{ i.quantity }}</td>
                        <td>{{ i.order }}</td>
                        <td>{{ i.price }}</td>
                    </tr>
                {% endfor %}
                
                </tbody>
            </table>
        </div>
    </div>
  <section class="heading">
        <form action="{% url 'admin_logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class=" btn btn-danger log-but">Logout</button>
        </form>
  </section>
</body>
</html>